.DS_Store
ephemeris_tools/.DS_Store
galaxy/collections/
galaxy/roles/galaxyproject.cvmfs/
galaxy/roles/galaxyproject.galaxy/
galaxy/roles/galaxyproject.nginx/
galaxy/roles/galaxyproject.postgresql/
galaxy/roles/galaxyproject.repos/
galaxy/roles/galaxyproject.slurm/
galaxy/roles/galaxyproject.tusd/
galaxy/roles/geerlingguy.docker/
galaxy/roles/geerlingguy.pip/
galaxy/roles/natefoo.postgresql_objects/
galaxy/roles/uchida.miniconda/
galaxy/roles/usegalaxy_eu.certbot/
galaxy/roles/usegalaxy_eu.rabbitmqserver/
galaxy/.vault-password.txt
