<job_conf>
    <plugins workers="4">
        <plugin id="local_plugin" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
        <plugin id="slurm" type="runner" load="galaxy.jobs.runners.slurm:SlurmJobRunner"/>
    </plugins>
    <destinations default="slurm">
        <destination id="local_destination" runner="local_plugin"/>
        <destination id="slurm" runner="slurm">
            <param id="nativeSpecification">--nodes=1 --ntasks=1 --cpus-per-task=2 </param>
        </destination>
    </destinations>
    <tools>
    </tools>
</job_conf>
