runners:
  local_runner:
    load: galaxy.jobs.runners.local:LocalJobRunner
    workers: 4
  slurm:
    load: galaxy.jobs.runners.slurm:SlurmJobRunner
  pulsar_runner:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    amqp_url: "pyamqp://galaxy:{{ vault_rabbitmq_password_vhost }}@localhost:5671/galaxy?ssl=1"
    amqp_acknowledge: true
    amqp_ack_republish_time: 1200
    amqp_consumer_timeout: 2
    amqp_publish_retry: true
    amqp_publish_retry_max_retries: 60
    galaxy_url: "https://{{ inventory_hostname }}"
    manager: _default_

execution:
  default: slurm
  environments:
    local_dest:
      runner: local_runner
    local_8core:
      runner: local_runner
      local_slots: 8
    slurm:
      runner: slurm
    slurm-4c:
      runner: slurm
      request_cpus: 4
      native_specification: --nodes=1 --ntasks=1 --cpus-per-task=4
    slurm-14c:
      runner: slurm
      request_cpus: 14
      native_specification: --nodes=1 --ntasks=1 --cpus-per-task=14
    pulsar:
      runner: pulsar_runner
      default_file_action: remote_transfer
      dependency_resolution: remote
      jobs_directory: /mnt/pulsar/files/staging
      persistence_directory: /mnt/pulsar/files/persisted_data
      remote_metadata: false
      rewrite_parameters: true
      transport: curl
      outputs_to_working_directory: false

tools:
- class: local # these special tools that aren't parameterized for remote execution - expression tools, upload, etc
  environment: local_dest
- id: bowtie2
  environment: slurm
- id: fastqc
  environment: pulsar
- id: samtools_filter
  environment: slurm
