<?xml version='1.0' encoding='utf-8'?>
<toolbox monitor="true" tool_path="/srv/galaxy/local_tools">
    <section id="scATAC" name="scATAC-seq Pre-processing">
      <tool file="scATAC_processing/scATAC_barcode_err_correct.xml" />
      <tool file="scATAC_processing/scATAC_barcodefreq.xml" />
      <tool file="scATAC_processing/scATAC_convertToTSV.xml" />
      <tool file="scATAC_processing/scATAC_debarcode.xml" />
      <tool file="scATAC_processing/scATAC_filterCellnumber.xml" />
      <tool file="scATAC_processing/scATAC_dedupCells.xml" />
      <tool file="scATAC_processing/scATAC_summary.xml" />
    </section>

    <section id="ArchR" name="ArchR">
      <tool file="ArchR_tools/ArchR_generateArrowFile.xml" />
      <tool file="ArchR_tools/ArchR_generateArrowFile_TSV.xml" />
      <tool file="ArchR_tools/ArchR_inferDoublet.xml" />
    </section>

    <section id="GATK4" name="GATK4">
      <tool file="gatk4/gatk4_BaseRecalibrator.xml" />
      <tool file="gatk4/gatk4_ApplyBQSR.xml" />
      <tool file="gatk4/gatk4_HaplotypeCaller.xml" />
      <tool file="gatk4/gatk4_GenomicsDBImport.xml" />
      <tool file="gatk4/gatk4_ApplyVQSR.xml" />
      <tool file="gatk4/gatk4_GenotypeGVCFs.xml" />
      <tool file="gatk4/gatk4_VariantRecalibrator.xml" />
    </section>

    <section id="ScriptManager" name="ScriptManager">
      <tool file="ScriptManager/scriptmanager_tagpileup.xml" />
      <tool file="ScriptManager/scriptmanager_compositeimage.xml" />
    </section>
</toolbox>
