# NOTE: Use dashes (-) exclusively for tags and underscores (_) exclusively for destinations.
destinations:
  local_env:
    runner: local_runner
    max_accepted_cores: 1
    params:
      tmp_dir: true
  slurm:
    runner: slurm
    max_accepted_cores: 24
    max_accepted_mem: 256
    max_cores: 2
    max_mem: 8
    params:
      native_specification: --nodes=1 --ntasks=1 --cpus-per-task={cores} --time={params['walltime']}:00:00
  pulsar_psu_tpv:
    runner: pulsar_psu_runner
    params:
      default_file_action: remote_transfer
      dependency_resolution: remote
      jobs_directory: /storage/group/bfp2/default/00_pughlab/pulsar/files/staging
      persistence_directory: /storage/group/bfp2/default/00_pughlab/pulsar/files/persisted_data
      remote_metadata: false
      rewrite_parameters: true
      transport: curl
      outputs_to_working_directory: false
    scheduling:
      require:
        - psu-pulsar
#  pulsar_iu_tpv:
#    runner: pulsar_iu_runner
#    params:
#      default_file_action: remote_transfer
#      dependency_resolution: remote
#      jobs_directory: /storage/group/bfp2/default/00_pughlab/pulsar/files/staging
#      persistence_directory: /storage/group/bfp2/default/00_pughlab/pulsar/files/persisted_data
#      remote_metadata: false
#      rewrite_parameters: true
#      transport: curl
#      outputs_to_working_directory: false
#    scheduling:
#      require:
#        - iu-pulsar
  pulsar_iu_tpv:
    runner: pulsar_iu_runner
    params:
      default_file_action: remote_transfer
      dependency_resolution: remote
      jobs_directory: /storage/group/bfp2/default/00_pughlab/pulsar/files/staging
      persistence_directory: /storage/group/bfp2/default/00_pughlab/pulsar/files/persisted_data
      remote_metadata: false
      rewrite_parameters: true
      transport: curl
      outputs_to_working_directory: false

#      singularity_enabled: true
#      singularity_volumes: "{{ galaxy_job_conf_singularity_volumes.iu_pulsar | join(',') }}"
#      singularity_cmd: $CVMFSEXEC_PATH -N data.galaxyproject.org singularity.galaxyproject.org -- singularity
#      singularity_no_mount: null
#      container_resolvers:
#      - type: explicit_singularity
#      - type: cached_mulled_singularity
#        cache_directory: /cvmfs/singularity.galaxyproject.org/all
#        cache_directory_cacher_type: dir_mtime
#      - type: mulled_singularity
#      require_container: true
#    env:
#      - name: _JAVA_OPTIONS
#        value: -Djava.io.tmpdir=$TEMP
#      - name: TERM
#        value: vt100
#      - name: LC_ALL
#        value: C
#      - name: TRINITY_SCRATCH_DIR
#        value: /storage/group/bfp2/default/00_pughlab/pulsar/scratch
#      - execute: mkdir $TRINITY_SCRATCH_DIR
#      - execute: trap "rm -rf $TRINITY_SCRATCH_DIR" EXIT
#      - name: SINGULARITYENV_TERM
#        value: $TERM
#      - name: SINGULARITYENV__JAVA_OPTIONS
#        value: $_JAVA_OPTIONS
#      - name: SINGULARITYENV_LC_ALL
#        value: $LC_ALL
#      - name: SINGULARITYENV_TEMP
#        value: $TEMP
#      - name: SINGULARITYENV_TMPDIR
#        value: $TEMP
#      - name: SINGULARITYENV_TRINITY_SCRATCH_DIR
#        value: $TRINITY_SCRATCH_DIR
#      - name: CVMFSEXEC_PATH
#        value: $(readlink -f $_GALAXY_JOB_DIR/../cvmfsexec)
#      - execute: cp "$HOME/bin/cvmfsexec" "$CVMFSEXEC_PATH"
    scheduling:
      require:
        - iu-pulsar
